.about{ 
    border-top: solid 0.1vh var(--aBC);
    border-bottom: solid 0.1vh var(--aBC);  
    background: var(--sBC);
    display: flex;
    flex-direction: column;
    padding: 1vh 15vw 4vh;
  }
  .about h2 {
    text-align: center;
    color: var(--hFC);
  }
  
  .about p {
    color: var(--hFC);
  }

  .about li {
    color: var(--hFC);
    margin-bottom: 2vh;
  }
  
  .about a{
    border: 0.1vh solid var(--hBC);
    font-weight: bold;
    margin-top: 5vh;
    background: var(--pBC);
    color: var(--pFC);
    border-radius: 1.5vh;
    cursor: pointer;
    padding: 2vh 2vw;
    box-shadow:  10px 10px var(--tC);
    transition: box-shadow 1s, border 1s;
    text-align: center;
  }

  @media only screen and (min-width: 769px){
    .about a:hover {
      box-shadow:  10px 10px var(--hC);
      border: 0.1vh solid var(--hC);
    }
  }

  @media only screen and (min-width: 1024px){
    .about{ padding: 1vh 25vw 4vh; }
  }

  @media only screen and (min-width: 1576px){
    .about{ padding: 1vh 30vw 4vh; }
  }