#lightMode {
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    position: absolute;
    top: 10vh;
    left: 2vw;
}

#lightMode:hover,
#lightMode:focus {
    filter: none;
    background-color: var(--pFC);
    cursor: pointer;
}

#lightMode.clicked {
    filter: none !important;
    background-color: var(--pFC);
}