.header {
    display: flex;
    flex-direction: column;
    background: var(--tC);
    position: fixed;
    width: 100vw;
    text-transform: uppercase;
    text-align: right;
    height: 9vh;
    z-index: 1;
    border-bottom: solid 0.1vh var(--hBC); 
}
  
.logo {
    font-weight: bold;
    font-size: 2.5vh; 
    padding: 3vh 2vw;
    color: var(--hFC);
    cursor: pointer;
}
  
.headerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.link:nth-child(1), .link:nth-child(2) {border-bottom: 0.1vh solid var(--aBC);}
  
.link {
    width: 100vw; 
    padding: 3vh 0vw;
    padding-left: 8vw;
    font-size: 2.5vh;
    color: var(--hFC);
    background: var(--tC);
    cursor: pointer;
    text-align: left;
}
  
.hamburger {
    position: absolute;
    background: var(--tC);
    border: 0.1vh solid var(--tC);
    height: 9vh;
}
  
.bar{
    width: 35px;
    height: 5px;
    background-color: var(--hFC);
    margin: 1vh 0;
}

@media only screen and (min-width: 769px){
    .header {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .headerRight {flex-direction: row;}
  
    .link:nth-child(1), .link:nth-child(2) {border-bottom: none;}
  
    .link{
      width: auto;
      background: none;
      padding-left: 3vw;
      padding-right: 3vw
    }
  
    .link:hover{ 
      opacity: 70%;
      color: var(--aBC);
    }
  
    .hamburger {display: none;}
}  