*{
  scroll-behavior: smooth;
  text-decoration: none;
}

h1 {
  color:var(--pFC);
}

a {font-size: 1.8vh; }
p {
  color:var(--pFC);
  font-size: 1.8vh;
  line-height: 3vh;
}

li {
  font-size: 1.8vh;
  line-height: 3vh;
}
h2, h3 {color:var(--pFC);}

