*{
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  scroll-behavior: smooth;
}

h1 {
  margin-top: 8vh;
  color:rgb(255, 255, 255);
} 
h2, p{color:rgb(255, 255, 255);}

/*All Links in app*/
.link { 
  text-decoration: none;
  font-size: 2.5vh; 
  color: rgb(255, 255, 255);
}

.link:hover{ color: rgb(0, 0, 0)}
/*Links end*/

/*header*/
.header {
  background: rgb(15, 81, 181);
  display: flex;
  justify-content: space-evenly;
  padding: 1.5vh 1.5vw;
  font-weight: bold;
  position: fixed;
  width: 100vw;
}
/*header end*/

/*home contact and projectPage layout*/
.homePage, .contact ,.projectPage{
  background: rgb(0, 0, 54);
  padding: 1vh 15vw 4vh;
  display: flex;
  flex-direction: column;
}
/* end of home contact and projectPage layout*/

/*home page only*/
.mySection img{ max-width: 100%;}
.skills{margin: 4vh 0vw;}
#viewProjects{margin-bottom: 4vh;}
/*home page only end*/

/*project page*/
.projectPage h2 { margin: 10vh 0vw 2vh;}
/*end of project page*/

/*about*/
.about{ 
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 4vh 15vw;
}
/*about end*/

/*contact page*/
.contact h2{margin: 5vh 0vw;}

.contact form{
  display: grid;
  justify-content: center;
  gap: 0.5vh 0.5vw;
  grid-template-columns: auto;
}

.contact-section1 {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5vh 0.5vw;
}

.contact button{
  padding: 1vh 0vw;
  font-size: 2vh;
  width: 80vw;
  border: 0.1vh solid rgb(255, 255, 255);
  background:rgb(0, 0, 54);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.contact button:hover{ background:rgb(15, 81, 181);}

.contact-item1, .contact-item2,
.contact-item3, .contact-item4 {
  text-align: left;
  padding: 1.5vh 1.5vw;
  font-size: 2vh;
  border: 0.1vh solid rgb(255, 255, 255);
  background:rgb(0, 0, 54);
  color: rgb(255, 255, 255);
}

.contact-item3 {
  word-wrap: break-word;
  height: 10vh;
}

#error {
  font-size: 2.5vh;
  color:rgb(255, 255, 255);
  margin: 3vh 0vw;
}
/*contact end*/

/*Responsive*/
@media only screen and (min-width: 769px){
  .mySection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 12vw;
  }

  .mySection img{ width: 100vw;}

  .profile, .profileImage{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-section1{grid-template-columns: auto auto;}
}
/* End of Responsive */