body {
  margin: 0;
  /*font-family: GT system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/ 
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  
}

body.light {
  /*font colors primary, secondary, and header*/
  --pFC: #000000;
  /*--sFC: #ffffff;*/
  --hFC: #ffffff;
  
  /*background colors primary and secondary*/
  --pBC: #c0c0c0;
  --sBC: #151515;
  
  /*border colors for about and header*/
  --aBC: #c0c0c0;
  --hBC: #24344d;
 
  /*theme color*/
  --tC: #24344d;

  /*hover color*/
  --hC: #b78428;
}
body.dark {
  --pFC: #dadada;
  /*--sFC: #ffffff;*/
  --hFC: #ffffff;

  --pBC: #1a1919;
  --sBC: #1a1919;

  --aBC: #c0c0c0;
  --hBC: #c0c0c0;

  --tC: #1a1919;

  --hC: #b78428;
}