body {
  margin: 0;
  /*font-family: GT system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/ 
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primaryFontColor: #000000;
  --secondaryFontColor: #ffffff;
  --primaryBackgroundColor: #c0c0c0;
  --secondaryBackgroundColor: #151515;
  --themeColor: #24344d;
  --hoverColor: #b78428;
}
[data-theme='dark'] {
  --primaryFontColor: #ffffff;
  --secondaryFontColor: #ffffff;
  --primaryBackgroundColor: #1a1919;
  --secondaryBackgroundColor: #151515;
  --themeColor: #ffffff;
  --hoverColor: #b72828;
}