.projectPage{
    background: var(--pBC);
    padding: 1vh 5vw 4vh;
    display: flex;
    flex-direction: column;
  }
  
  .projectPage div { margin: 6vh 0vw 0vh;}
  
  .projectPage p{
    text-align: left;
    line-height: 3vh;
  }

  .responsibilities li {
    color: var(--pFC);
  }

  .projectPage h1 { 
    margin: 15vh 0vw 2vh;
    text-align: left;
  }
  
  .projectPage h2 {
    text-align: left;
  }
  
  .projectPage button {
    cursor: pointer;
    font-size: 1.5vh;
    color: var(--pFC);
    padding: 1vh 2vw;
    width: 35%;
    border-radius: 1vh;
    border: 0.4vh solid var(--hBC);
    background: var(--pBC);
    font-weight: bold;
    box-shadow:  10px 10px var(--tC);
    transition: box-shadow 1s, border;
  }
  
  .projectPage video {
    max-width: 100%;
    margin-bottom: 1vh;
  }

  @media only screen and (min-width: 769px){
  
    .projectPage {padding: 1vh 15vw 4vh;}
    .projectPage button:hover {
      box-shadow:  10px 10px var(--hC);
      border: 0.4vh solid var(-tC);
    }

  }